/* Space the content of the chart evenly and at the bottom */
.chart {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    border: 2px solid black;
    width: 600px;
    height: 400px;
}

.bar {
    background-color: darkgrey;
}

.bar:hover {
    background-color: gray;
}